Repository takeshi-arihori/PlantUML-Server, changes with the owners that .github/CODEOWNERS names for each.
All owners: @recursion-curriculum/tech-leads, @recursion-curriculum/backend-team, @recursion-curriculum/frontend-team, @recursion-curriculum/devops-team, @recursion-curriculum/docs-team, @recursion-curriculum/database-team

fix: PHPStanレベル10の型エラー21件を修正
  app/Http/Controllers/Auth/ConfirmablePasswordController.php
  app/Http/Controllers/Auth/EmailVerificationNotificationController.php
  app/Http/Controllers/Auth/EmailVerificationPromptController.php
  app/Http/Controllers/Auth/NewPasswordController.php
  app/Http/Controllers/Auth/RegisteredUserController.php
  app/Http/Controllers/Auth/VerifyEmailController.php
  app/Http/Controllers/Settings/PasswordController.php
  app/Http/Controllers/Settings/ProfileController.php
  app/Http/Middleware/HandleInertiaRequests.php
  app/Http/Requests/Settings/ProfileUpdateRequest.php
Owners: @recursion-curriculum/backend-team

style: Prettierでフォーマット修正
  resources/js/app.tsx
Owners: @recursion-curriculum/frontend-team

fix: npm audit脆弱性2件を修正
  package-lock.json
Owners: @recursion-curriculum/tech-leads

feat: Wayfinderファイル自動拡張システム実装
  .github/workflows/ci.yml
  package.json
  scripts/extend-wayfinder.js
Owners: @recursion-curriculum/devops-team, @recursion-curriculum/tech-leads, @recursion-curriculum/frontend-team

fix: extend-wayfinder.jsをESモジュール形式に修正とCLAUDE.md更新
  CLAUDE.md
  scripts/extend-wayfinder.js
Owners: @recursion-curriculum/docs-team, @recursion-curriculum/frontend-team

fix: GitHub ActionsのDeprecated版エラーとVite manifest問題を修正
  .github/workflows/ci.yml
Owners: @recursion-curriculum/devops-team

fix: buildジョブにPHP/Composer環境を追加してVite Wayfinderエラーを修正
  .github/workflows/ci.yml
Owners: @recursion-curriculum/devops-team

refactor: scripts/extend-wayfinder.jsを削除してWayfinderネイティブ機能に移行
  .github/workflows/ci.yml
  CLAUDE.md
  package.json
  scripts/extend-wayfinder.js
Owners: @recursion-curriculum/devops-team, @recursion-curriculum/docs-team, @recursion-curriculum/tech-leads, @recursion-curriculum/frontend-team

Delete .github/dependabot.yml
  .github/dependabot.yml
Owners: @recursion-curriculum/devops-team

fix: tests.ymlとlint.ymlワークフローのexit code 1エラーを修正
  .github/workflows/lint.yml
  .github/workflows/tests.yml
Owners: @recursion-curriculum/devops-team

Remove GitHub Actions workflow files
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/security.yml
  .github/workflows/tests.yml
Owners: @recursion-curriculum/devops-team

.github/CODEOWNERS:

# Global owners
* @recursion-curriculum/tech-leads

# Backend
/app/ @recursion-curriculum/backend-team
/database/ @recursion-curriculum/backend-team
/routes/ @recursion-curriculum/backend-team
/tests/Feature/ @recursion-curriculum/backend-team
/tests/Unit/ @recursion-curriculum/backend-team
*.php @recursion-curriculum/backend-team

# Frontend
/resources/js/ @recursion-curriculum/frontend-team
/resources/css/ @recursion-curriculum/frontend-team
/resources/views/ @recursion-curriculum/frontend-team
*.tsx @recursion-curriculum/frontend-team
*.ts @recursion-curriculum/frontend-team
*.jsx @recursion-curriculum/frontend-team
*.js @recursion-curriculum/frontend-team

# Infrastructure
/.github/ @recursion-curriculum/devops-team
*.yml @recursion-curriculum/devops-team
*.yaml @recursion-curriculum/devops-team

# Documentation
/docs/ @recursion-curriculum/docs-team
*.md @recursion-curriculum/docs-team
README.md @recursion-curriculum/tech-leads

# Database
/database/migrations/ @recursion-curriculum/database-team @recursion-curriculum/backend-team
